{# ------------------------------------------------------------------------------
    Generates a responsive image set which is used with lazy sizes
    to render the image. Generates JPG and WebP (if capable).


  Parameters:
    - image {image object} The Craft image object
    - customSizes {array} (optional) Custom defined set of sizes to generate
    - customAspect {String} (optional) Pass in a custom aspect ration, useful when cropping
    - imageClasses {string} (optional) Additional classes for the image element
    - imageWrapperClasses {string} (optional) Additional classes for the wrapper element
------------------------------------------------------------------------------ #}

{% if customSizes is defined and customSizes %}
    {% set transformedImages = craft.imager.transformImage(image, customSizes,
        {
            allowUpscale: false,
            format: 'jpg',
            jpegQuality: 80
        }) %}

    {% if craft.imager.serverSupportsWebp() %}
        {% set transformedWebpImages = craft.imager.transformImage(image, customSizes,
        {
            allowUpscale: false,
            format: 'webp',
            webpQuality: 80
        }) %}
    {% endif %}

{% else %}
    {# ------------------------------------------------------------------------------
      Default Size Settings
    ------------------------------------------------------------------------------ #}
    {% set transformedImages = craft.imager.transformImage(image, [
    { width: 250 },
    { width: 350 },
    { width: 500 },
    { width: 800 },
    { width: 1000 }
    ],
    {
        allowUpscale: false,
        format: 'jpg',
        jpegQuality: 80
    }) %}

    {% if craft.imager.serverSupportsWebp() %}
        {% set transformedWebpImages = craft.imager.transformImage(image, [
        { width: 250 },
        { width: 350 },
        { width: 500 },
        { width: 800 },
        { width: 1000 }
        ],
        {
            allowUpscale: false,
            format: 'webp',
            webpQuality: 80
        }) %}
    {% endif %}
{% endif %}

{# Set aspect ratio for image wrapper padding #}
{% if customAspect is defined and customAspect %}
    {% set aspectRatio = customAspect %}
    {% else %}
        {% set aspectRatio = (image.height / image.width) %}
{% endif %}

{# Set aspect ratio to a string with percentage for css #}
{% set aspectRatioString = aspectRatio * 100 ~ '%' %}

{% set maxWidth = image.width %}
{% set maxHeight = image.height %}

{% set imageClasses = imageClasses is defined and imageClasses ? imageClasses : '' %}
{% set imageWrapperClasses = imageWrapperClasses is defined and imageWrapperClasses ? imageWrapperClasses : '' %}

{% spaceless %}
    <div class="responsive-image-wrapper {{ imageWrapperClasses }}" style="max-width: {{ maxWidth }}px">
        <figure class="responsive-image" style="padding-bottom: {{ aspectRatioString }}">
            <picture>
                {% if craft.imager.serverSupportsWebP() %}
                    <source data-sizes="auto" data-srcset="{{ craft.imager.srcset(transformedWebpImages) }}" type="image/webp">
                {% endif %}

                <img
                class="responsive-image__image lazyload is-lazyloaded {{ imageClasses }}"
                src="{{ transformedImages[0].url }}"
                data-srcset="{{ craft.imager.srcset(transformedImages) }}"
                data-sizes="auto"
                alt="{{ image.title }}"
                >
            </picture>
        </figure>
        {# /.responsive-image #}
    </div>
    {# /.responsive-image-wrapper #}
    
  <noscript>
    <img src="{{ transformedImages[0].url }}" alt="{{ image.title }}">
  </noscript>
{% endspaceless %}
