{# ------------------------------------------------------------------------------
	A partial for including a lazyloaded responsive image. Assumes lazysizes.js
	is being used. Also assumes the Craft plugin Imager is in use.

	Parameters:
		- image {Image Object}
------------------------------------------------------------------------------ #}

{% set transformedImages = craft.imager.transformImage(image, [
  { width: 250 },
  { width: 350 },
  { width: 500 },
  { width: 800 },
  { width: 1000 },
  { width: 1200 },
  { width: 1400 },
  { width: 1600 },
  { width: 1800 },
  { width: 2000 }
],
{
  allowUpscale: false,
  format: 'jpg',
  jpegQuality: 80
}
) %}

{% if craft.imager.serverSupportsWebp() %}
  {% set transformedWebpImages = craft.imager.transformImage(image, [
  { width: 250 },
  { width: 350 },
  { width: 500 },
  { width: 800 },
  { width: 1000 },
  { width: 1200 },
  { width: 1400 },
  { width: 1600 },
  { width: 1800 },
  { width: 2000 }
],
{
  allowUpscale: false,
  format: 'webp',
  webpQuality: 80
}
) %}
{% endif %}

{# Set aspect ratio for image wrapper padding #}
{% set aspectRatio = (image.height / image.width) * 100) %}

<div class="image-wrapper js-image" style="padding-top: {{ aspectRatio }}%;">
  <picture>
    {% if craft.imager.serverSupportsWebP() %}
      <source data-sizes="auto" data-srcset="{{ craft.imager.srcset(transformedWebpImages) }}" type="image/webp">
    {% endif %}

    <img
      class="lazyload is-lazyloaded"
      src="{{ transformedWebpImages[2].url }}"
      data-srcset="{{ craft.imager.srcset(transformedImages) }}"
      data-sizes="auto"
      alt="{{ image.title }}"
    >

  </picture>
</div>

<noscript>
  <img src="{{ transformedImages[2].url }}" alt="{{ image.title }}">
</noscript>
